Repository rust-lang/unsafe-code-guidelines, pull requests merged in 2019-08, with the labels that each got.

#192 Glossary: de-bold paragraph headers
  reference/src/glossary.md
Labels: C-terminology

#160 Detail layout of repr(C) unions
  reference/src/layout/unions.md
Labels: T-layout, T-unions

#193 Value Domain: note the provenance problems
  wip/value-domain.md
Labels: T-provenance

#164 Guarantee the layout of structs with a single non-zero-sized field
  reference/src/layout/structs-and-tuples.md
Labels: T-layout

#195 define padding with hypothetical Pad type
  reference/src/glossary.md
  wip/value-domain.md
Labels: T-padding

#190 define (un)sound and UB
  reference/src/glossary.md
Labels: C-terminology

#159 Resolve layout of single variant enums
  reference/src/layout/enums.md
Labels: T-layout

#199 fix link target
  reference/src/layout/enums.md
Labels: C-editorial

#161 Guarantee the layout of some unions having a single non-zero-sized field
  reference/src/glossary.md
  reference/src/layout/unions.md
Labels: T-layout, T-unions

#186 ASCII art for structs
  reference/src/layout/structs-and-tuples.md
Labels: T-layout
